---
import { withBase } from "../../lib/url.ts";
---
<section class="block vault vault-v2" id="vault">
  <div class="vault-inner">
    <img class="vault-img" src={withBase("/images/blocks/vault.jpg")} alt="inside the vintage vault" />
    <div class="vault-caption">
      <div class="title">The Vintage<br />Vault</div>
      <p class="lede">Clothes ~ Books ~ Records</p>
      <p class="vault-note">Available in store only.<br />New pieces weekly.</p>
    </div>
  </div>
</section>
